
@mixin gradient{
    background: linear-gradient(90deg,rgba($primary,0.95), rgba($secondary,0.95));
}
@mixin fontplus{
    font-size: 3rem;
    font-style: italic;
}
@mixin absolCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
