@import "custom";

body{
    position: relative;
}

    .navbar{
        @include gradient;
        z-index: 10;
        a{
            color:white!important;
        } 
    }

    .container-fluid {
        max-width: 1300px;
        }
    
#home {
    background-image: url(../img/background_sec1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 70px;
    height: 68rem;
    overflow: auto;

        .sectionhome {
            position: relative;
        }
        
        h1 {
            color: $success;
            font-size: 8rem;
        }

        h3 {
            color: $pinkgrad;
            @include fontplus;
        }

        .rounded-pill{
            width: fit-content;
            @include gradient;
        }

        .video-box {
            position: relative;
            margin-top: 8rem;
            a{
                @include absolCenter;
                i {
                    font-size: 7rem;
                    color: $primary;
                }
            }
        }

&:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/images/overlay-pattern2.png);
    background-color: rgba(0, 0, 0, 0.207);
            }
}
    
.border-animation {
        position: absolute;
        top: 5px;
        width: 7rem;
        height: 7rem;
        border: 0.55rem solid $primary;
        border-radius: 50%;
        animation: pulse-border 1s linear infinite;

        .border1{
            animation-delay: 1s;
        }
        .border2{
            animation-delay: 1.5s;
        }
}
   
@keyframes pulse-border {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.5);
            opacity: 0;
        }
}


.theme-light {
    color: $primary;
   #scene1 {
    background-color: $success;
    color: #263d51;
    #toggle-btn {
        background-color: #009eaa;
      }
  }
}
.theme-dark {
    color: white;
    #scene1 {
        background-color: #263d51;
        color: #f4f4f4;
        #toggle-btn {
            background-color: #16232e;
          }
      }
}

#scene1 {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

  #toggle-btn {
    position: relative;
    width: 86px;
    height: 48px;
    border-radius: 24px;
    background-image: url("../img/background2x.png");
    background-size: 100%;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
  }
  
  #toggle-btn:before {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #f4f4f4;
    left: 6px;
    top: 6px;
    transition: all ease-in-out 0.4s;
    z-index: 10;
  }
  
  .theme-dark #toggle-btn:before {
    left: 44px;
  }