@import "custom";

body{
    position: relative;
}
    .navbar{
        @include gradient;
        a{
            color:white!important;
        } 
    }

    .container-fluid {
        max-width: 1300px;
        }
    
    #home {
        background-image: url(../img/background_sec1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;

        .sectionhome {
            position: relative;
        }
        
            h1 {
                color: $success;
                font-size: 8rem;
            }
            h3 {
                color: $pinkgrad;
                @include fontplus;
            }
            .rounded-pill{
                width: fit-content;
                @include gradient;
            }
            .video-box {
                position: relative;
                margin-top: 8rem;
                a{
                    @include absolCenter;
                    i {
                        font-size: 7rem;
                        color: $primary;
                    }
                }
            }
    }
    .border-animation {
        position: absolute;
        top: 5px;
        width: 7rem;
        height: 7rem;
        border: 0.55rem solid $primary;
        border-radius: 50%;
        animation: pulse-border 1s linear infinite;

        .border1{
            animation-delay: 1s;
        }
        .border2{
            animation-delay: 1.5s;
        }
    }
    @keyframes pulse-border {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }
    #home::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../assets/images/overlay-pattern2.png);
        background-color: rgba(0, 0, 0, 0.207);
    }